flask
flask-cors
Flask-SQLAlchemy
psycopg2-binary
sqlalchemy
langchain-core
langchain-aws
langchain-community
langchain-text-splitters
faiss-cpu
boto3
python-dotenv
pytest
pdfplumber
ruff
gunicorn

###RAG

langchain-aws
langchain-core
langchain-community
langchain-text-splitters
faiss-cpu
boto3
python-dotenv
pytest

mem0ai